// colors
$background-color: #f9e3c0;
$foreground-color: #545149;
$accent-color: #4c7cd5;


// fonts
$main-text: "Source Sans 3", sans-serif;
$funky-text: 'Bungee', sans-serif;
$font-light: 300;
$font-heavy: 600;