@import "constants";
@import "mixins";

.new-tweet {
  @include cen-col-without-justify;
  width: 90%;
}

.new-tweet form {
  @include flex-column;
  width: 100%;
  margin-top: 40px;
}

form div {
  @include row-space-between;
}

.new-tweet button {
  font-family: $funky-text;
  background-color: $accent-color;
  color: #ffffff;
  border: none;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid $foreground-color;
  height: 60px;
  background-color: $background-color;
  width: 100%;
  resize: none;
  margin-bottom: 0.3em;
}

.error span {
  color: #ff0000;
  padding: 0 20px;
}

.error {
  padding: 20px;
  margin: 40px 0 0 0;
  border: 3px solid #ff0000;
  background-color: #ed1d1d35;
  min-width: 60%;
  display: flex;
  justify-content: center;
}

div output {
  font-family: $funky-text;
}

#tweet-text::placeholder {
  font-weight: $font-heavy;
}

.new-tweet button:hover {
  cursor: pointer;
}