header {
  display: flex;
  height: 520px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #eb9d9d;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

header h1 {
  padding: 0;
  margin-top: 0;
  color: #fbf4ed;
}
