.nav {
  height: 120px;
  background-color: #4c7cd5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
}

#logo {
  font-family: "Bungee", sans-serif;
  font-size: 4rem;
}

#tweet-toggle {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  margin-top: 0.2em;
}

.nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 215px;
}

#write-new-tweet-arrow {
  color: #ff0000;
  position: relative;
}

#write-new-tweet-arrow:hover {
  animation-name: arrow-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#tweet-toggle:hover ~ #write-new-tweet-arrow {
  animation-name: arrow-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrow-bounce {
  0%,
  100% {
    top: 0;
  } /* Start and end position */
  50% {
    top: 5px;
  } /* The position at the midpoint of the animation */
}

