.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

form div {
  display: flex;
  justify-content: space-between;
}

.new-tweet button {
  font-family: Bungee;
  background-color: #4c7cd5;
  color: #ffffff;
  border: none;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid #545149;
  height: 100px;
  background-color: #f9e3c0;
  width: 100%;
  resize: none;
  margin-bottom: 0.3em;
}

.over-limit {
  color: red;
}

div output {
  font-family: Bungee;
}
