.new-tweet {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.new-tweet button {
  font-family: "Bungee", sans-serif;
  background-color: #4c7cd5;
  color: #ffffff;
  border: none;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid #545149;
  height: 60px;
  background-color: #f9e3c0;
  width: 100%;
  resize: none;
  margin-bottom: 0.3em;
}

.error span {
  color: #ff0000;
  padding: 0 20px;
}

.error {
  padding: 20px;
  margin: 40px 0 0 0;
  border: 3px solid #ff0000;
  background-color: rgba(237, 29, 29, 0.2078431373);
  min-width: 60%;
  display: flex;
  justify-content: center;
}

div output {
  font-family: "Bungee", sans-serif;
}

#tweet-text::placeholder {
  font-weight: 600;
}

.new-tweet button:hover {
  cursor: pointer;
}
